/* SMALL SCREEN */

body {
	min-width: 300px;
}
	#weather th,
	#weather td {
		text-align: left;
		padding-right: 10px;
		font-size: 80%;
	}


/* 
SMALL SCREEN - TABLE
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/
@media only screen and (max-width: 760px) {

	/* Force table to not be like tables anymore */
	#weather table, #weather thead, #weather tbody, #weather th, #weather td, #weather tr { 
		display: block; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	#weather thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	#weather td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
	}
	
	#weather td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 0;
		left: 0;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
		font-weight: bold;
	}
	
	/*
	Label the data
	*/
	#weather td:nth-of-type(1):before { content: "Datum a čas"; }
	#weather td:nth-of-type(2):before { content: "Směr a síla větru"; }
	#weather td:nth-of-type(3):before { content: "Minutová špička větru"; }
	#weather td:nth-of-type(4):before { content: "QNH letiště"; }
	#weather td:nth-of-type(5):before { content: "QNH regionu"; }
	#weather td:nth-of-type(6):before { content: "Teplota vzduch"; }
	#weather td:nth-of-type(7):before { content: "Východ a západ (UTC)"; }
}






/* BIG SCREEN */

@media only screen and (min-width: 760px) {
	.ppv-section {
		padding: 2rem;
		border-bottom: 2px solid red;
	}
/*
	.ppv-meteo-bar .ppv-data {
		border: 1px solid green;
		display: inline-block;
	}
*/
	#register .ppv-background { 
		background-image: url('../img/ppv_background.png');  
		height: 55vh;
		padding: 3rem;
	}

	#weather tr {
		border-bottom: 1px solid #ccc;
	}
 }