#checkForm {
	display: none;
}

/* clearfix */
.float-block:after {
  content: "";
  display: table;
  clear: both;
}


/*** TYPO ***/

html {
	font-size: 12pt;
}
body {
	font-family: 'Raleway', sans-serif;
}
h1,
h3,
h5,
.ppv-list-item__title {
	font-weight: 600;
}
h1,
h2,
h3,
h4,
h5 {
	font-size: 1rem;
	line-height: 1.2rem;
}
h1,
h3 {
	text-transform: uppercase;
}
.table tbody {
	font-weight: 400;
}
#actualities p {
	margin-bottom: 0;
}



/*** COLORS ***/

.ppv-section__title {
	border-bottom: 1px solid #ccc;
}

.table th {
	background: #eee;
}
#menu {
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	color: #fff;
	background: rgb(30, 40, 50);
}
.btn-primary {
	color: #fff;
	background: rgb(200, 0, 0);
	background: linear-gradient(0deg, rgba(160, 0, 0, 1) 0%, rgba(255, 0, 0, 1) 100%);
}
.btn-secondary {
	color: #ddd;
	background-color: rgba(50, 50, 50, 0.7);
}
.btn-primary:hover,
.btn-secondary:hover {
	color: #333;
	background: #eee;
}
footer {
	background: #747473;
}
footer,
footer a {
	color: #fff;
}
.ppv-page-title {
	background: #eee;
}
.ppv-warning {
	color: #f00;
}


/* MENU COLORS */
.page-documents .nav-item-documents .nav-link,
.page-competitors .nav-item-competitors .nav-link,
.page-gallery .nav-item-gallery .nav-link {
	color: #fff;
}



/*** LAYOUT ***/

body {
	min-width: 300px;
}
#header {
	padding-top: 10px;
	padding-bottom: 10px;
}
#page-content {
	min-height: 15vw;
}
.ppv-section__title {
	padding-bottom: 5px;
}

.ppv-list {
	padding: 0;
}
.ppv-list-item {
	list-style: none;
	padding: 10px 0;
	border-bottom: 1px solid #ccc;
}
.ppv-list-item__title {
	margin-bottom: 0;
}
.ppv-page-title {
	padding: 17px 24px;
	margin-bottom: 0;
}




/*** HEADER ***/

/* HEADER XS */

#page-header {
	/* background: url(../img/bckground_webovky_2022_small.jpg) no-repeat 0 0; */
	background: url(../img/ppv-bgr-6-sm.jpg) no-repeat;
	background-size: 100% auto;
	background-position: bottom center;
	height: 100vw;
	position: relative;
}
#header {
	height: 80%;
	background: linear-gradient(180deg, rgba(255, 255, 255, 1) 20%, rgba(255, 255, 255, 0) 60%);
}
#menu {
	position: absolute;
	bottom: 0px;
	left: 0;
	right: 0;
}


.ppv-logo {
	width: 50vw;
	position: relative;
	top: -7vw;
	left: -7vw;
}
.ppv-header-headline {
	display: inline-block;
    position: relative;
    top: -3vw;
    font-style: italic;
    font-size: 5.3vw;
}
.ppv-header-date,
.ppv-header-place {
	display: block;
}


/* HEADER SM */

@media only screen and (min-width: 576px) {
	#page-header {
		background-size: 540px auto;
		height: 70vw;
	}
	#header {
		padding-left: 0;
		margin-bottom: 20vw;
		position: relative;
	}
	.ppv-logo {
		width: 45vw;
		top: -5vw;
		left: -3vw;
	}
	.ppv-header-headline {
		font-size: 1.5em;
		position: absolute;
		top: 5vw;
		right: 3vw;
	}
	.ppv-header-date,
	.ppv-header-place {
		display: inline;
	}

}


/* HEADER MD */

@media only screen and (min-width: 768px) {

	#page-header {
		background: url(../img/ppv-bgr-6.jpg) no-repeat;
		background-size: 720px auto;
		background-position: center top;
		height: 370px;
	}

	.ppv-logo {
		width: 280px;
    	top: -40px;
    	left: -20px;
	}

	#header {
		background: linear-gradient(180deg, rgba(255, 255, 255, 0.9) 20%, rgba(255, 255, 255, 0) 60%);
	}
	.ppv-header-headline {
		top: 30px;
		right: 30px;
		font-style: normal;
	}
	#organizers {
		background: #ccc;
	}
	.nav-item {
		margin-left: 20px;
	}

}

/* HEADER LG */

@media only screen and (min-width: 992px) {
	#page-header {
		background-size: 960px auto;
		background-position: top 100%;
		height: 470px;
	}
	.ppv-logo {
		width: 320px;
	}
	h1 {
		font-size: 1.2rem;
		line-height: 1.8rem;
	}
	h2 {
		font-size: 1rem;
		line-height: 1.2rem;
	}
	.ppv-date,
	.ppv-place {
		display: inline;
	}
}

/* HEADER XL */

@media only screen and (min-width: 1200px) {
	#page-header {
		background-size: 1140px auto;
	}
	.ppv-logo {
		width: 320px;
	}

}

/* HEADER XXL */

@media only screen and (min-width: 1400px) {
	#page-header {
		background-size: 1320px auto;
	}
}



/*** WEATHER ***/

#weather table {
	border-bottom: 1px solid #ccc;
}
#weather table th,
#weather table td {
	padding: 2px 10px 2px 0;
}
#weather table th {
	font-weight: normal;
}
#weather table td {
	font-weight: 600;
}



/*** TABS ***/

.nav-tabs {
	border-bottom: 1px solid #eee;
}
.nav-tabs .nav-link {
	background: #eee;
	margin-right: 2px;
	border-radius: 2px;
}
.nav-tabs .nav-link.active {
	color: #000;
	background: #fff;
	border-color: #fff;
}


/*** GALLERY ***/

.btn-back {
	cursor: pointer;
}
.btn-back,
.gallery-name {
	font-weight: bold;
	font-size: 1rem;
}
.gallery-name {
	margin-bottom: 12px;
}

.gallery-container {
	font-size: 0.9rem; 
	padding: 24px;
	background: whiteSmoke;
	min-height: 50vh;
	overflow: hidden;
}
.gallery-edit>div {
	display: inline-block;
}
.gallery-grid,
.images-grid {
	display: grid;
	padding: 0;
	margin: 0;
	list-style: none;
	text-align:left;
}
.gallery-grid li,
.images-grid li {
	background: white;
	color: black;
	overflow: hidden;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	cursor: pointer;
}
.gallery-grid {
	grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
	grid-auto-rows: 1fr;
	grid-gap: 24px;
}
.images-grid::before {
	content: '';
	width: 0;
	padding-bottom: 100%;
	grid-row: 1/1;
	grid-column: 1/1;
}
.gallery-grid img {
	display: inline-block;
	width: 50%;
	height: 100%;
	vertical-align: middle;
}
.gallery-grid>*:first-child,
.images-grid>*:first-child {
	grid-row: 1/1;
	grid-column: 1/1;
}
.images-grid {
	grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
	grid-auto-rows: 1fr;
	grid-gap: 2px;
	grid-gap: 24px;
}
.images-grid a {
	display:block;
}
.images-grid img {
	display: block;
	width: 100%;
	max-height: 100%;
}
.gallery-grid li {
	position: relative;
}
.gallery-grid li::after {
	content: "";
	position: absolute;
	left: 50%;
	bottom: 0;
	right: 0;
	border-bottom: 4px solid transparent;
	transition: all 0.3s;
}
.gallery-item-label {
	display: inline-block;
	width: 50%;
	height: 100%;
	padding: 8px 12px;
	margin: auto;
	vertical-align: top;
}
.gallery-item-label::first-line {
	font-weight: bold;
	font-size: 0.9rem;
	text-transform: uppercase;
}
.gallery-bar {
	background: #ccc;
	position: relative;
	padding-top: 5px;
	padding-bottom: 5px; 
}
.gallery-bar a {
	color: #000;
	font-weight: bold;
	text-decoration: none;
}
.gallery-bar .btn-set,
.gallery-bar .btn-top {
	border: none;
	background: transparent;
	padding: 5px 0;
}
.gallery-bar .btn-top {
	position: absolute;
	right: 25px;
	top: 5px;
}