
/* XS */

html {
	font-size: 12pt;
}
body {
	min-width: 300px;
}
#page-header {
	background: url(../img/ppv-bgr-4.png) no-repeat 50% 0;
	min-height: 300px;
}
h1,
h2 {
	font-size: 1rem;
	line-height: 1.2rem;
	margin-bottom: 0;
}
h2 {
	font-weight: 300;
}
.ppv-date,
.ppv-place {
	display: block;
}
#header {
	background: #fff;
	padding: 20px;
}
#header img {
	height: 50px;
}
#weather {
	display: none;
}
#weather th,
#weather td {
	text-align: left;
	padding-right: 10px;
	font-size: 80%;
}
#menu {
	margin-top: 270px;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	color: #fff;
	background: rgba(30, 40, 50);
}


/* 
SMALL SCREEN - TABLE
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/
@media only screen and (max-width: 768px) {

	/* Force table to not be like tables anymore */
	#weather table, #weather thead, #weather tbody, #weather th, #weather td, #weather tr { 
		display: block; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	#weather thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	#weather td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
	}
	
	#weather td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 0;
		left: 0;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
		font-weight: bold;
	}
	
	/*
	Label the data
	*/
	#weather td:nth-of-type(1):before { content: "Datum a čas"; }
	#weather td:nth-of-type(2):before { content: "Směr a síla větru"; }
	#weather td:nth-of-type(3):before { content: "Minutová špička větru"; }
	#weather td:nth-of-type(4):before { content: "QNH letiště"; }
	#weather td:nth-of-type(5):before { content: "QNH regionu"; }
	#weather td:nth-of-type(6):before { content: "Teplota vzduch"; }
	#weather td:nth-of-type(7):before { content: "Východ a západ (UTC)"; }
}


/* SM */
@media only screen and (min-width: 576px) {
	#page-header {
		background-size: 540px auto;
		background-position: 50% 0;
		min-height: 160px;
	}
	#header {
		background: transparent;
		position: relative;
	}
	#header img {
		position: absolute;
		left: 0;
		top: 10px;
		height: 30px;
	}
	#menu {
		margin-top: 150px;
	}
}


/* MD */
@media only screen and (min-width: 768px) {

	#page-header {
		background-size: 720px auto;
		background-position: 50% 0;
		min-height: 220px;
	}
	#header img {
		top: 20px;
		height: 35px;
	}
	#menu {
		margin-top: 200px;
	}
	h1 {
		font-size: 1.2rem;
		line-height: 1.4rem;
	}
 }

/* LG */
@media only screen and (min-width: 992px) {
	#page-header {
		background-size: 960px auto;
		background-position: 50% 0;
		min-height: 290px;
	}
	#header img {
		top: 20px;
		height: 50px;
	}
	#menu {
		margin-top: 250px;
		background: rgba(30, 40, 50, 0.4);
	}
	h1 {
		font-size: 1.5rem;
		line-height: 1.8rem;
	}
	h2 {
		font-size: 1.2rem;
		line-height: 1.4rem;
	}
	.ppv-date,
	.ppv-place {
		display: inline;
	}

/*
	.ppv-meteo-bar .ppv-data {
		border: 1px solid green;
		display: inline-block;
	}
*/
	#register .ppv-background { 
/*		background-image: url('../img/ppv_background.png');  
		height: 55vh;
		padding: 3rem; */
	}

	#weather tr {
		border-bottom: 1px solid #ccc;
	}
}

/* XL */
@media only screen and (min-width: 1200px) {
	#page-header {
		background-size: 1140px auto;
		min-height: 340px;
	}
	#header img {
		top: 30px;
		height: 60px;
	}
	#menu {
		margin-top: 400px;
	}
	h1 {
		font-size: 2rem;
		line-height: 2.4rem;
	}
	h2 {
		font-size: 1.2rem;
		line-height: 1.4rem;
	}

}

/* XXL */
@media only screen and (min-width: 1400px) {
	#page-header {
		background-size: 1320px auto;
		min-height: 400px;
	}
	#menu {
		margin-top: 420px;
	}
}
